body {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    background: #484848;
    font-family: "Calibri Light";

}

.okno {
    background: #8f8f8f;
    padding: 10px;
    width: 800px;
    height: 590px;
    position: relative;
    top: 50%;
    margin: 60px auto 0;
    box-shadow: -5px -5px 30px 5px #bb9292, 5px 5px 30px 5px #66669c;
    border-radius: 15px;
}

.wynik {
    background: #8f8f8f;
    padding: 10px;
    width: 800px;
    height: 125px;
    margin: 30px auto 0;
    position: relative;
    box-shadow: -5px -5px 30px 5px #66669c, 5px 5px 30px 5px #bb9292;
    border-radius: 15px;
}

textarea {
    font-size: 54px;
    width: 750px;
    height: 445px;
    resize: none;
    border-radius: 15px;
    background: #e8e8e8;
    outline: none;
    border: none;
}

label {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color:white;
}

input {
    font-size: 30px;
    text-align: center;
    border-radius: 7px;
    background: #e8e8e8;
    outline: none;
    border: none;
    margin: 3px;
}

#txtInput {
    font-size: 30px;
}

#id {
    margin-left: 3.75em;
}

#click{
    margin-left:7px;
}

#button {
    font-family: "Calibri Light";
    color:white;
    background: #8f8f8f;
    padding: 10px;
    width: 800px;
    height: auto;
    margin: 30px auto 0;
    position: relative;
    box-shadow: -5px -5px 30px 5px #bb9292, 5px 5px 30px 5px #66669c;
    border-radius: 15px;
    font-weight: bold;
}




/******************************************************************************************/

.oknover {
    background: #8f8f8f;
    padding: 10px;
    padding-top: 30px;
    width: 800px;
    height: 600px;
    position: relative;
    top: 50%;
    margin: 60px auto 0;
    box-shadow: -5px -5px 30px 5px #bb9292, 5px 5px 30px 5px #66669c;
    border-radius: 15px;
}
#check{
    font-family: "Calibri Light";
    color:white;
    background: #8f8f8f;
    padding: 10px;
    width: 800px;
    height: auto;
    margin: 30px auto 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 15px;
    font-weight: bold;
}
#buttonv{
    font-family: "Calibri Light";
    color:white;
    background: #8f8f8f;
    padding: 10px;
    width: 800px;
    height: auto;
    margin: 30px auto 0;
    position: relative;
    box-shadow: -5px -5px 30px 5px #66669c, 5px 5px 30px 5px #bb9292;
    border-radius: 15px;
    font-weight: bold;
}